footer {
  margin-top: 90px;

  padding: 12px 0 10px;

  text-align: center;
  background: #32383e;

  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

footer i {
  color: #fb866a;
  margin-right: 4px;
}

footer a {
  color: #fff;
  margin: 0 4px;
}

footer p {
  margin: 0;
  padding: 0;
}
