header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492
}

header .profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

header .header-details {
  padding: 0 30px;
}


@media (min-width: 1400px) {
  header .header-details {
    position: relative;
    left: -30px;
  }
}

@media (max-width: 1200px) {
  header .header-details {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  header .header-details {
    margin-left: 60px;
  }
}
@media (max-width: 768px) {
  header .header-details {
    display: inline-block;
    text-align: center;
    margin-left: 0;
  }
}

/*
header .header-details a {
  color: inherit;
}
*/

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #49515a;
  margin: 30px 0 0;
}

header h2 {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;

  margin: 0;
}

header ul.social-icons {
  position: relative;
  left: -10px;

  list-style: none;
  margin: 0;
  padding: 0;

  margin-top: 15px;
}
header ul.social-icons > li {
  display: inline-block;

  margin: 0 8px 8px;
  padding: 0;

  color: #fff;
  text-align: center;

  width: 36px;
  height: 36px;
  background: #b0b7bf;

  border-radius: 50%;


  transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
}
header ul.social-icons > li:hover {
  background: #778492;
}

header ul.social-icons > li > a {
  color: inherit;
  display: block;
  text-align: center;
}
header ul.social-icons > li i {
  font-size: 21px;
  padding-top: 8px;
}




header .profile-action-button {
  float: right;
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 18px 7px;

  margin-top: 60px;
}
header .profile-action-button i {
  margin-right: 5px;
}
header .profile-action-button:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
}

@media (max-width: 1200px) {
  header .profile-action-container {
    position: absolute;
    top: 40px; right: 20px;
  }
}
@media (max-width: 768px) {
  header .profile-action-container {
    position: static;
  }
  header > .container > .row > * {
    text-align: center;
  }
  header .profile-action-button {
    float: none;
  }
}
