
.font-size-12 { font-size: 12px !important; }
.font-size-14 { font-size: 14px !important; }
.font-size-16 { font-size: 16px !important; }
.font-size-18 { font-size: 18px !important; }
.font-size-20 { font-size: 20px !important; }

/******************************************************************************************************************
* Begin generic animation styling
*****************************************************************************************************************/
.animate {
    transition: all 0.40s ease;
    -o-transition: all 0.40s ease;
    -moz-transition: all 0.40s ease;
    -webkit-transition: all 0.40s ease;
}
.animate--fast {
    transition: all 0.20s ease;
    -o-transition: all 0.20s ease;
    -moz-transition: all 0.20s ease;
    -webkit-transition: all 0.20s ease;
}
/******************************************************************************************************************
* End of generic animation styling
*****************************************************************************************************************/



/******************************************************************************************************************
 * Begin basic text styling
 *****************************************************************************************************************/
.no-decoration { text-decoration: none !important; }
.text-white { color: #fff !important; }
.icon-match-size { font-size: 0.95em !important; }
.icon-lg { font-size: 85px !important; }
.icon-xl { font-size: 115px !important; }
.icon-xxl { font-size: 175px !important; }
.small  { font-size: 75% !important; }
.xsmall { font-size: 50% !important; }
.cursor-pointer { cursor: pointer; }
.dot-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



  .text-xxl { font-size: 40px; }
  .text-huge { font-size: 65px; }
  .text-giant { font-size: 100px; }

  @media screen and (max-width:1280px) {
    .text-xxl { font-size: 29px; }
    .text-huge { font-size: 45px; }
    .text-giant { font-size: 75px; }
  }

  @media screen and (max-width:768px) {
    .text-xxl { font-size: 24px; }
    .text-huge { font-size: 35px; }
    .text-giant { font-size: 55px; }
  }



  .font-lato { font-family: Lato, sans-serif; }
  .text-weak { font-weight: 300; }
  .text-med, .text-medium { font-weight: 400; }

 /******************************************************************************************************************
 * End of basic text styling
 *****************************************************************************************************************/



 /******************************************************************************************************************
  * Begin Mobile / Desktop - Hide/Show styling
  *****************************************************************************************************************/
 .Mobile_Only, .MobileOnly, .mobile-only, .mobileonly, .mobileOnly         { display: inline-block !important; }
 .Desktop_Only, .DesktopOnly, .desktop-only, .desktoponly, .desktopOnly     { display: none !important;  }
 @media (min-width: 992px) {
     .Mobile_Only, .MobileOnly, .mobile-only, .mobileonly, .mobileOnly     { display: none !important;  }
     .Desktop_Only, .DesktopOnly, .desktop-only, .desktoponly, .desktopOnly { display: inline-block !important; }
 }
 /******************************************************************************************************************
 * End of Mobile / Desktop - Hide/Show styling
 *****************************************************************************************************************/


/******************************************************************************************************************
 * BEGIN Position & Display modifiers
 *****************************************************************************************************************/
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.display-block { display: block; }
.display-none { display: none !important; }
.display-inline-block { display: inline-block; }
/******************************************************************************************************************
 * END Position & Display modifiers
 *****************************************************************************************************************/


/******************************************************************************************************************
 * Begin basic input/select/textarea styling
 *****************************************************************************************************************/
 input.underline , select.underline , textarea.underline {
   background: none;
   outline: none;
   border: none;
   border-bottom: 1px solid #777;
 }
 /******************************************************************************************************************
 * End of basic input/select/textarea styling
 *****************************************************************************************************************/


/******************************************************************************************************************
 * Begin basic ul styling
 *****************************************************************************************************************/
 ul.line {
   list-style-type: none;
   padding-left: 15px;
 }
 ul.line > li:before {
   content: '-';
   font-size: 1.25em;
   line-height: 1em;
   margin-right: 5px;
 }

 ul.plain , ul.plain > li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 /******************************************************************************************************************
 * End of basic ul styling
 *****************************************************************************************************************/


/******************************************************************************************************************
 * Begin Bootstrap button styling extensions
 *****************************************************************************************************************/
 .btn-square { border-radius: 0; }
 .btn-pill {
   border-radius: 1.65em;
 }
 .btn-disabled , .btn[disabled] , .disabled  {
     cursor: not-allowed !important;
 }
 .btn-circle {
     border-radius: 50% !important;
 }
 /******************************************************************************************************************
 * End of Bootstrap button styling extensions
 *****************************************************************************************************************/


/******************************************************************************************************************
 * Begin Bootstrap color styling extensions
 *****************************************************************************************************************/
 /******************************************************************************************************************
 * End of Bootstrap color styling extensions
 *****************************************************************************************************************/
.btn-mauve, .btn-mauve:hover { color: #fff; }
.bg-mauve, .btn-mauve { background-color: #76608a; }
.text-mauve { color: #76608a; }

.btn-sienna, .btn-sienna:hover { color: #fff; }
.bg-sienna, .btn-sienna { background-color: #7a3b3f; }
.text-sienna { color: #7a3b3f; }


 /******************************************************************************************************************
  * Begin Scrollbar styling
  *****************************************************************************************************************/
.no-scrollbars::-webkit-scrollbar { /* this is added to the remodal open() function */
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


/* Let's get this party started */
.scrollbars::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.scrollbars::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 20, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.scrollbars::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 40, 65, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 10, 40, 0.5);
}
.scrollbars::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 65, 100, 0.5);
}


/* Track */
.scrollbars.light::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.25);
}

/* Handle */
.scrollbars.light::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.25);
    -webkit-box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.15);
}
.scrollbars.light::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}
 /******************************************************************************************************************
  * End of Scrollbar styling
  *****************************************************************************************************************/

  .width-0 { width: 0; }
  .width-1 { width: 1px; } .width-2 { width: 2px; } .width-3 { width: 3px; } .width-4 { width: 4px; }
  .width-5 { width: 5px; }
  .width-10 { width: 10px; } .width-15 { width: 15px; }
  .width-20 { width: 20px; } .width-25 { width: 25px; }
  .width-30 { width: 30px; } .width-35 { width: 35px; }
  .width-40 { width: 40px; } .width-45 { width: 45px; }
  .width-50 { width: 50px; } .width-55 { width: 55px; }
  .width-60 { width: 60px; } .width-65 { width: 65px; }
  .width-70 { width: 70px; } .width-77 { width: 75px; }
  .width-80 { width: 80px; } .width-85 { width: 85px; }
  .width-90 { width: 90px; } .width-95 { width: 95px; }
  .width-100 { width: 100px; }



/******************************************************************************************************************
 * Begin Spatial Modifiers styling
 *****************************************************************************************************************/
.padding-0 { padding: 0; }
.padding-1 { padding: 1px; } .padding-2 { padding: 2px; } .padding-3 { padding: 3px; } .padding-4 { padding: 4px; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
/* 50 and 70 are located somewhere because they work, but can't figure out where yet */
.space-10 { padding: 10px 0 0 0; }
.space-20 { padding: 20px 0 0 0; }
.space-30 { padding: 30px 0 0 0; }
.space-40 { padding: 40px 0 0 0; }

.padding-top-5      { padding-top: 5px !important; }
.padding-bottom-5   { padding-bottom: 5px !important; }
.padding-left-5     { padding-left: 5px !important; }
.padding-right-5    { padding-right: 5px !important; }



.padding-top-10      { padding-top: 10px !important; }
.padding-bottom-10   { padding-bottom: 10px !important; }
.padding-left-10     { padding-left: 10px !important; }
.padding-right-10    { padding-right: 10px !important; }

.padding-top-12      { padding-top: 12px !important; }
.padding-bottom-12   { padding-bottom: 12px !important; }
.padding-left-12     { padding-left: 12px !important; }
.padding-right-12    { padding-right: 12px !important; }

.padding-top-15      { padding-top: 15px !important; }
.padding-bottom-15   { padding-bottom: 15 !important; }
.padding-left-15     { padding-left: 15px !important; }
.padding-right-15    { padding-right: 15px !important; }

.padding-top-25      { padding-top: 25px !important; }
.padding-bottom-25   { padding-bottom: 25px !important; }
.padding-left-25     { padding-left: 25px !important; }
.padding-right-25    { padding-right: 25px !important; }

.padding-top-30      { padding-top: 30px !important; }
.padding-bottom-30   { padding-bottom: 30px !important; }
.padding-left-30     { padding-left: 30px !important; }
.padding-right-30    { padding-right: 30px !important; }

.padding-top-35      { padding-top: 35px !important; }
.padding-bottom-35   { padding-bottom: 35px !important; }
.padding-left-35     { padding-left: 35px !important; }
.padding-right-35    { padding-right: 35px !important; }

.padding-top-50      { padding-top: 50px !important; }
.padding-bottom-50   { padding-bottom: 50px !important; }
.padding-left-50     { padding-left: 50px !important; }
.padding-right-50    { padding-right: 50px !important; }

.padding-top-75      { padding-top: 75px !important; }
.padding-bottom-75   { padding-bottom: 75px !important; }
.padding-left-75     { padding-left: 75px !important; }
.padding-right-75    { padding-right: 75px !important; }

.padding-top-100      { padding-top: 100px !important; }
.padding-bottom-100   { padding-bottom: 100px !important; }
.padding-left-100     { padding-left: 100px !important; }
.padding-right-100    { padding-right: 100px !important; }


.margin-0           { margin: 0; }
.margin-auto        { margin: auto; }
.margin-0-auto      { margin: 0 auto; }

.margin-top-0      { margin-top: 0 !important; }
.margin-bottom-0   { margin-bottom: 0 !important; }
.margin-left-0     { margin-left: 0 !important; }
.margin-right-0    { margin-right: 0 !important; }


.margin-top-5      { margin-top: 5px !important; }
.margin-bottom-5   { margin-bottom: 5px !important; }
.margin-left-5     { margin-left: 5px !important; }
.margin-right-5    { margin-right: 5px !important; }



.margin-top-10      { margin-top: 10px !important; }
.margin-bottom-10   { margin-bottom: 10px !important; }
.margin-left-10     { margin-left: 10px !important; }
.margin-right-10    { margin-right: 10px !important; }

.margin-top-12      { margin-top: 12px !important; }
.margin-bottom-12   { margin-bottom: 12px !important; }
.margin-left-12     { margin-left: 12px !important; }
.margin-right-12    { margin-right: 12px !important; }

.margin-top-15      { margin-top: 15px !important; }
.margin-bottom-15   { margin-bottom: 15 !important; }
.margin-left-15     { margin-left: 15px !important; }
.margin-right-15    { margin-right: 15px !important; }

.margin-top-25      { margin-top: 25px !important; }
.margin-bottom-25   { margin-bottom: 25px !important; }
.margin-left-25     { margin-left: 25px !important; }
.margin-right-25    { margin-right: 25px !important; }

.margin-top-30      { margin-top: 30px !important; }
.margin-bottom-30   { margin-bottom: 30px !important; }
.margin-left-30     { margin-left: 30px !important; }
.margin-right-30    { margin-right: 30px !important; }

.margin-top-35      { margin-top: 35px !important; }
.margin-bottom-35   { margin-bottom: 35px !important; }
.margin-left-35     { margin-left: 35px !important; }
.margin-right-35    { margin-right: 35px !important; }

.margin-top-50      { margin-top: 50px !important; }
.margin-bottom-50   { margin-bottom: 50px !important; }
.margin-left-50     { margin-left: 50px !important; }
.margin-right-50    { margin-right: 50px !important; }

.margin-top-75      { margin-top: 75px !important; }
.margin-bottom-75   { margin-bottom: 75px !important; }
.margin-left-75     { margin-left: 75px !important; }
.margin-right-75    { margin-right: 75px !important; }

.margin-top-100      { margin-top: 100px !important; }
.margin-bottom-100   { margin-bottom: 100px !important; }
.margin-left-100     { margin-left: 100px !important; }
.margin-right-100    { margin-right: 100px !important; }

.negative-margin-right-50 { margin-right: -50px; }
.negative-margin-left-50 { margin-right: -50px; }
.negative-margin-top-50 { margin-right: -50px; }
.negative-margin-bottom-50 { margin-right: -50px; }

.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }

.top-1 { top: -1px; } .top-2 { top: -2px; } .top-3 { top: -3px; } .top-4 { top: -4px; } .top-5 { top: -5px; }
.top-6 { top: -6px; } .top-7 { top: -7px; } .top-8 { top: -8px; } .top-9 { top: -9px; } .top-10 { top: -10px; }
.top-11 { top: -11px; } .top-12 { top: -12px; } .top-13 { top: -13px; } .top-14 { top: -14px; } .top-15 { top: -15px; }
.top-16 { top: -16px; } .top-17 { top: -17px; } .top-18 { top: -18px; } .top-19 { top: -19px; } .top-20 { top: -20px; }
.top-21 { top: -21px; } .top-22 { top: -22px; } .top-23 { top: -23px; } .top-24 { top: -24px; } .top-25 { top: -25px; }
.top-26 { top: -26px; } .top-27 { top: -27px; } .top-28 { top: -28px; } .top-29 { top: -29px; } .top-30 { top: -30px; }
.top-31 { top: -31px; } .top-32 { top: -32px; } .top-33 { top: -33px; } .top-34 { top: -34px; } .top-35 { top: -35px; }
.top-36 { top: -36px; } .top-37 { top: -37px; } .top-38 { top: -38px; } .top-39 { top: -39px; } .top-40 { top: -40px; }
.top-41 { top: -41px; } .top-42 { top: -42px; } .top-43 { top: -43px; } .top-44 { top: -44px; } .top-45 { top: -45px; }
.top-46 { top: -46px; } .top-47 { top: -47px; } .top-48 { top: -48px; } .top-49 { top: -49px; } .top-50 { top: -50px; }

.bottom-1 { bottom: -1px; } .bottom-2 { bottom: -2px; } .bottom-3 { bottom: -3px; } .bottom-4 { bottom: -4px; } .bottom-5 { bottom: -5px; }
.bottom-6 { bottom: -6px; } .bottom-7 { bottom: -7px; } .bottom-8 { bottom: -8px; } .bottom-9 { bottom: -9px; } .bottom-10 { bottom: -10px; }
.bottom-11 { bottom: -11px; } .bottom-12 { bottom: -12px; } .bottom-13 { bottom: -13px; } .bottom-14 { bottom: -14px; } .bottom-15 { bottom: -15px; }
.bottom-16 { bottom: -16px; } .bottom-17 { bottom: -17px; } .bottom-18 { bottom: -18px; } .bottom-19 { bottom: -19px; } .bottom-20 { bottom: -20px; }
.bottom-21 { bottom: -21px; } .bottom-22 { bottom: -22px; } .bottom-23 { bottom: -23px; } .bottom-24 { bottom: -24px; } .bottom-25 { bottom: -25px; }
.bottom-26 { bottom: -26px; } .bottom-27 { bottom: -27px; } .bottom-28 { bottom: -28px; } .bottom-29 { bottom: -29px; } .bottom-30 { bottom: -30px; }
.bottom-31 { bottom: -31px; } .bottom-32 { bottom: -32px; } .bottom-33 { bottom: -33px; } .bottom-34 { bottom: -34px; } .bottom-35 { bottom: -35px; }
.bottom-36 { bottom: -36px; } .bottom-37 { bottom: -37px; } .bottom-38 { bottom: -38px; } .bottom-39 { bottom: -39px; } .bottom-40 { bottom: -40px; }
.bottom-41 { bottom: -41px; } .bottom-42 { bottom: -42px; } .bottom-43 { bottom: -43px; } .bottom-44 { bottom: -44px; } .bottom-45 { bottom: -45px; }
.bottom-46 { bottom: -46px; } .bottom-47 { bottom: -47px; } .bottom-48 { bottom: -48px; } .bottom-49 { bottom: -49px; } .bottom-50 { bottom: -50px; }

.right-1 { right: -1px; } .right-2 { right: -2px; } .right-3 { right: -3px; } .right-4 { right: -4px; } .right-5 { right: -5px; }
.right-6 { right: -6px; } .right-7 { right: -7px; } .right-8 { right: -8px; } .right-9 { right: -9px; } .right-10 { right: -10px; }
.right-11 { right: -11px; } .right-12 { right: -12px; } .right-13 { right: -13px; } .right-14 { right: -14px; } .right-15 { right: -15px; }
.right-16 { right: -16px; } .right-17 { right: -17px; } .right-18 { right: -18px; } .right-19 { right: -19px; } .right-20 { right: -20px; }
.right-21 { right: -21px; } .right-22 { right: -22px; } .right-23 { right: -23px; } .right-24 { right: -24px; } .right-25 { right: -25px; }
.right-26 { right: -26px; } .right-27 { right: -27px; } .right-28 { right: -28px; } .right-29 { right: -29px; } .right-30 { right: -30px; }
.right-31 { right: -31px; } .right-32 { right: -32px; } .right-33 { right: -33px; } .right-34 { right: -34px; } .right-35 { right: -35px; }
.right-36 { right: -36px; } .right-37 { right: -37px; } .right-38 { right: -38px; } .right-39 { right: -39px; } .right-40 { right: -40px; }
.right-41 { right: -41px; } .right-42 { right: -42px; } .right-43 { right: -43px; } .right-44 { right: -44px; } .right-45 { right: -45px; }
.right-46 { right: -46px; } .right-47 { right: -47px; } .right-48 { right: -48px; } .right-49 { right: -49px; } .right-50 { right: -50px; }

.left-1 { left: -1px; } .left-2 { left: -2px; } .left-3 { left: -3px; } .left-4 { left: -4px; } .left-5 { left: -5px; }
.left-6 { left: -6px; } .left-7 { left: -7px; } .left-8 { left: -8px; } .left-9 { left: -9px; } .left-10 { left: -10px; }
.left-11 { left: -11px; } .left-12 { left: -12px; } .left-13 { left: -13px; } .left-14 { left: -14px; } .left-15 { left: -15px; }
.left-16 { left: -16px; } .left-17 { left: -17px; } .left-18 { left: -18px; } .left-19 { left: -19px; } .left-20 { left: -20px; }
.left-21 { left: -21px; } .left-22 { left: -22px; } .left-23 { left: -23px; } .left-24 { left: -24px; } .left-25 { left: -25px; }
.left-26 { left: -26px; } .left-27 { left: -27px; } .left-28 { left: -28px; } .left-29 { left: -29px; } .left-30 { left: -30px; }
.left-31 { left: -31px; } .left-32 { left: -32px; } .left-33 { left: -33px; } .left-34 { left: -34px; } .left-35 { left: -35px; }
.left-36 { left: -36px; } .left-37 { left: -37px; } .left-38 { left: -38px; } .left-39 { left: -39px; } .left-40 { left: -40px; }
.left-41 { left: -41px; } .left-42 { left: -42px; } .left-43 { left: -43px; } .left-44 { left: -44px; } .left-45 { left: -45px; }
.left-46 { left: -46px; } .left-47 { left: -47px; } .left-48 { left: -48px; } .left-49 { left: -49px; } .left-50 { left: -50px; }
/******************************************************************************************************************
 * End Spatial Modifiers styling
 *****************************************************************************************************************/
